.slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider-quantity {
    display: flex;
    justify-content: space-between;
}

.slider {
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    cursor: pointer;
}
