:root {
    --color-white: white;
    --color-black: #313131;
    --color-black-dark: rgb(29, 29, 29);
    --color-dark-gray: rgb(58, 58, 58);
    --color-gray: gray;
    --color-gray-lighter: rgb(211, 211, 211);
    --color-gray-lightest: rgb(245, 245, 245);
    --color-gray-light: rgb(233, 231, 231);
    --color-pink: rgb(255, 211, 217);
    --color-pink-darker: rgb(209, 191, 191);
    --color-pink-dark: rgb(179, 165, 165);
    --color-pink-lighter: rgb(255, 223, 229);
    --color-blue-lighter: rgb(169, 222, 255);
    --color-blue-light: rgb(189, 229, 255);
    --color-blue-lightest: rgb(208, 236, 255);
    --color-default-chrome-blue: #3786ff;
    --color-pink-light: rgb(255, 244, 244);
    --color-white-lightest: rgb(251, 251, 251);

    --font-michroma: 'Michroma', sans-serif; /* cel mai bun pana acum*/
    --font-orbitron: 'Orbitron', sans-serif; /*could work */
    --font-electrolize: 'Electrolize', sans-serif; /*could work cu dimensiuni diferite*/
    --font-audiowide: 'Audiowide', cursive; /* bun la calendar, zile, numere */
    --font-bebas: 'Bebas Neue', cursive;
    --font-poppins: 'Poppins', sans-serif;

    /* ------------------------------------------------------------- */
    /* --font-aldrich: 'Aldrich', sans-serif; 
    --font-bigshouldersdisplay: 'Big Shoulders Display', cursive; 
    --font-dohyeon: 'Do Hyeon', sans-serif; 
    --font-quantico: 'Quantico', sans-serif;  */
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    user-select: none;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

@media screen and (max-width: 1650px) {
    .main-container {
        padding: 1rem;
    }
}
